#SearchBar {
    display: inline-flex;
    border-radius: 9px 9px 9px 9px;
    margin-left: 6rem;

    #SearchBar-input {
        background-color: var(--darkergray);
        padding-left: 30px !important;
        width: 25rem;
        height: 3rem;
        border-radius: 7px 0px 0px 7px;
        font-size: 1.5rem;

        &::placeholder {
            color: var(--white);
            font-size: 1.5rem;
        }
    }

    @media only screen and (max-width: 1440px) {
        #SearchBar-input {
            width: 15rem !important;
        }
    }

    @media only screen and (max-width: 887px) {
        #SearchBar-input {
            width: 12rem !important;
        }
    }

    @media only screen and (max-width: 660px) {
        #SearchBar-input {
            display: none;
        }
    }

    #SearchBar-button {
        margin: auto 0 auto 0;
        border-radius: 0 7px 7px 0;
        background-color: var(--darkergray);
        width: 5rem;
        height: 3rem;
        cursor: pointer;
        border: solid var(--background);
        border-width: 0px 0px 0px 3px;

        &:before {
            padding: 10px;
            content: url(../../../public/icons8-magnifying-glass.png);
        }
    }

    @media only screen and (max-width: 700px) {
        #SearchBar-button {
            width: 4rem;
        }
    }

    @media only screen and (max-width: 660px) {
        #SearchBar-button {
            display: none;
        }
    }
}

@media only screen and (max-width: 1250px) {
    #SearchBar {
        margin-left: 7rem;
    }
}

@media only screen and (max-width: 1080px) {
    #SearchBar {
        margin-left: 1rem;
    }
}