.CocktailCard {
    width: 300px;
    height: 500px;
    background-color: var(--darkergray);

    .CocktailCard-sameLine {
        width: 91%;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.5rem;
        .CocktailCard-category {
            font-weight: 300;
            font-size: 1.25rem;
            color: var(--red);
            margin-left: 1.5rem;
        }
    }

    .CocktailCard-name {
        font-size: 1.5rem;
        margin: 1.3rem auto auto 1.5rem;
    }
}

@media only screen and (max-width: 950px) {
    .CocktailCard {
        scale: 0.8;
        margin-bottom: -6rem;
    }
}

@media only screen and (max-width: 887px) {
    .CocktailCard {
        scale: 0.65;
        margin-bottom: -10rem;
    }
}

// @media only screen and (max-width: 700px) {
//     .CocktailCard {
//         scale: 0.5;
//         margin-bottom: -13rem;
//     }
// }