:root {
  --white: #FFFFFF;
  --red: #AA2823;
  --darkergray: #212121;
  --background: #2B2B2B;
}

* {
  margin: 0;
  padding: 0;
  position: relative;
  color: var(--white);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-left: 7rem;
}