#CocktailPage-div {
    display: inline-flex;
    flex-direction: row;
    width: 100vw;
    max-height: 1000px;
    margin-top: -3rem;

    #CocktailPage-Image-1 {
        margin-right: 30rem;
    }

    @media only screen and (max-width: 2560px) {
        #CocktailPage-Image-1 {
            margin-right: 17rem;
            width: 1000px;
            height: 1000px;
        }
    }

    @media only screen and (max-width: 1900px) {
        #CocktailPage-Image-1 {
            margin-right: 10rem;
        }
    }

    @media only screen and (max-width: 1750px) {
        #CocktailPage-Image-1 {
            margin-right: 5rem;
            width: 950px;
            height: 950px;
        }
    }

    @media only screen and (max-width: 1650px) {
        #CocktailPage-Image-1 {
            width: 800px;
            height: 800px;
        }
    }

    @media only screen and (max-width: 1450px) {
        #CocktailPage-Image-1 {
            display: none;
        }
    }

    #CocktailPage-section {
        margin-top: 2rem;

        #CocktailPage-sameLine {
            display: inline-flex;
            flex-direction: row;

            #CocktailPage-category {
                margin-bottom: 1.5rem;
                margin-right: 5rem;
                font-size: 2rem;
                font-weight: 300;
                color: var(--red)
            }

            @media only screen and (max-width: 800px) {
                #CocktailPage-category {
                    font-size: 1.5rem;
                }
            }

        }

        #CocktailPage-name {
            font-size: 4rem;
            margin-bottom: 4rem;
        }

        @media only screen and (max-width: 800px) {
            #CocktailPage-name {
                font-size: 3rem;
            }
        }

        @media only screen and (max-width: 600px) {
            #CocktailPage-name {
                font-size: 2.25rem;
            }
        }

        #CocktailPage-Image-2 {
            display: none;
        }

        @media only screen and (max-width: 1450px) {
            #CocktailPage-Image-2 {
                display: block;
                width: 700px;
                height: 700px;
            }
        }

        @media only screen and (max-width: 900px) {
            #CocktailPage-Image-2 {
                width: 500px;
                height: 500px;
            }
        }

        @media only screen and (max-width: 800px) {
            #CocktailPage-Image-2 {
                width: 400px;
                height: 400px;
            }
        }

        @media only screen and (max-width: 600px) {
            #CocktailPage-Image-2 {
                width: 300px;
                height: 300px;
            }
        }

        .CocktailPage-h3 {
            margin-top: 2rem;
            margin-bottom: 1rem;
            font-size: 2.25rem;
            color: var(--red)
        }

        @media only screen and (max-width: 800px) {
            #CocktailPage-h3 {
                font-size: 1.5rem;
            }
        }

        @media only screen and (max-width: 600px) {
            #CocktailPage-h3 {
                font-size: 1.25rem !important;
            }
        }

        #CocktailPage-ul {
            .CocktailPage-li {
                list-style: inside;
                margin-top: 0.5rem;
            }
        }

        .CocktailPage-p {
            font-size: 1.5rem;
            width: 25ch;
            max-width: 40ch;
        }

        .Button-button {
            margin-top: 5rem;
            margin-left: 0rem;
            background-color: var(--darkergray);

            &:hover {
                background-color: var(--red);
            }
        }

        @media only screen and (max-width: 1450px) {
            .Button-button {
                margin-bottom: 10rem;
            }
        }
    }

    @media only screen and (max-width: 1650px) {
        #CocktailPage-section {
            margin-top: 0rem;
        }
    }
}

@media only screen and (max-width: 1650px) {
    #CocktailPage-div {
        height: 950px !important;
    }
}

@media only screen and (max-width: 1450px) {
    #CocktailPage-div {
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 600px) {
    #CocktailPage-div {
        margin-left: 2rem;
    }
}