.CocktailCard {
    width: 250px;
    height: 450px;
    background-color: var(--darkergray);

    .CocktailCard-sameLine {
        width: 85%;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.5rem;
        .CocktailCard-category {
            font-weight: 500;
            font-size: 1.25rem;
            color: var(--red);
            margin-left: 1rem;
        }
    }

    .CocktailCard-name {
        font-size: 1.6rem;
        margin: 1.3rem auto auto 1rem;
    }
}